@import url(colors.css);
.Follows {
  transition: 0.03s;
}
.Follows:hover {
  cursor: pointer;
  color: #f9f9f9;
  scale: 1.04;
  text-decoration: underline;
}

.Follows-active {
  color: #f9f9f9;
  scale: 1.04;
  text-decoration: underline;
}

.FollowBox {
  height: max-content;
  width: 5rem;
  border-radius: 50%;

}

.FollowBox:hover {
  cursor: pointer;
}

.FollowBox-Container {
  display: grid;
  column-gap: .25rem;
  row-gap: .5rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 6rem), 1fr));
  grid-auto-rows: 6rem;
  place-items: center;
  height:15rem;
  padding: 1rem;
  overflow-y: scroll;
}
