@import url(colors.css);

.card-local {
  width: 20rem;
  cursor: pointer;
}

.card-local:hover {
  scale: 105%;
  transition: 0.3s;
}

.card-local:not(:hover) {
  scale: 100%;
  transition: 0.3s;
}

.contendorImg {
  width: 100%;
}

.cardlocalimg {
  max-height: 18rem;
  object-fit: cover;
  width: 100%;
}
