
/* Main colors */
:root{
    /* Main Color palette  >>>*/
    --white:#f9f9f9;
    --black:#1c1c1c;
    --orange:#e0934f;
    --red:#ff000b;
    /* <<< Main Color Palette */

    /* white >>> */
    --white100: #fefefe;
    --white200: #fdfdfd;
    --white300: #fbfbfb;
    --white400: #fafafa;
    --white500: #f9f9f9;
    --white600: #c7c7c7;
    --white700: #959595;
    --white800: #646464;
    --white900: #323232;
    /* <<< white */

    /* orange >>> */
    --orange100: #f9e9dc;
    --orange200: #f3d4b9;
    --orange300: #ecbe95;
    --orange400: #e6a972;
    --orange500: #e0934f;
    --orange600: #b3763f;
    --orange700: #86582f;
    --orange800: #5a3b20;
    --orange900: #2d1d10;
    /* <<< orange */

    /* black >>> */
    --black100: #d2d2d2;
    --black200: #a4a4a4;
    --black300: #777777;
    --black400: #494949;
    --black500: #1c1c1c;
    --black600: #161616;
    --black700: #111111;
    --black800: #0b0b0b;
    --black900: #060606;
    /* <<<black */
    /* >>> red */
    --red100: #ffccce;
    --red200: #ff999d;
    --red300: #ff666d;
    --red400: #ff333c;
    --red500: #ff000b;
    --red600: #cc0009;
    --red700: #990007;
    --red800: #660004;
    --red900: #330002;
    /* <<< red */
}

.grad-orange{
    background: linear-gradient(
        323deg,
        rgba(198, 153, 114, 1) 0%,
        rgba(224, 147, 79, 1) 53%,
        rgba(255, 214, 0, 1) 100%
      );
}
.grad-red-light{
    background: linear-gradient(
        323deg,
        rgb(198, 114, 114) 0%,
        rgb(224, 79, 79) 53%,
        rgb(255, 102, 0) 100%
      ) !important;
}