@import url(colors.css);

.ExploreWrapper{
    height: 60vh;
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.ExploreContentWrapper{
 
    height: 100%;
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ExploreFormWrapper{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.ExploreFormHeader{
    justify-self: start;
    height:5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ExploreForm{
    padding: .5rem;

    height: 40rem;
    width:90%
}

.FormMessage-1{
    height:6rem;

    padding-top: 1rem;
    box-sizing: border-box;
}

.ExploreFormBody{
    margin-top: 1rem;
    height:28rem;
}

.MuiTooltip-tooltip{
    background-color: #df3432 !important;
    font-size: 20px !important;
}

/* .JoyFormControl-root{
    background-color:red !important;
} */