@import url(colors.css);

/* HEADER (IMAGEN CON TEXTO) */

.header {
  /* altura del contenedor */
  height: 25vh;
  /* imagen de fondo del contenedor */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* texto */
  display: flex;
  align-items: flex-end;
}
