@import url(colors.css);

/* HEADER (IMAGEN CON TEXTO) */

.header {
  /* altura del contenedor */
  height: 25vh;
  /* imagen de fondo del contenedor */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1593167751520-95a058b903c2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* texto */
  display: flex;
  align-items: flex-end;
}
