/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
@import url(card.css);
@import url(navbar.css);
@import url(home.css);
@import url(resources.css);
@import url(userprofile.css);
@import url(landingpage.css);
@import url(buttons.css);
@import url(profile.css);
@import url(login.css);
@import url(signup.css);
@import url(bandprofile.css);
@import url(brainstorm.css);


html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.Link {
  text-decoration: none;
}

