/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
@import url(card.css);
@import url(navbar.css);
@import url(home.css);
@import url(resources.css);
@import url(userprofile.css);
@import url(landingpage.css);
@import url(buttons.css);
@import url(profile.css);
@import url(login.css);
@import url(signup.css);
@import url(bandprofile.css);
@import url(brainstorm.css);
<<<<<<< HEAD
@import url(sidebar.css);
=======
@import url(footer.css);
>>>>>>> main

html,
body,
#root {
  margin-top: 30px;
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Link {
  text-decoration: none;
  
}

.LinkLight{
  text-decoration: none;
  color: #333 !important;
}

.LinkDark{
  text-decoration: none;
  color: #ddd !important;
}

/* --- fondo naranja para tags ---*/
.bubbles {
  background: linear-gradient(
    323deg,
    rgb(198, 114, 114) 0%,
    rgb(224, 79, 79) 53%,
    rgb(255, 102, 0) 100%
  );
  padding: 0.75rem 1.5rem;
  font-size: small;
  margin: 0.25rem;
}
