/* >>>>>>Jumbotron>>>>>> */
.fullheight {
  /* min-height: 90vh; */
  min-height: 50vh;
}
.titleJumbotron {
  font-size: 3rem;
  color: white;
}

.padreloginjumbo{
  height: 40vh;
}
/* <<<<<<<Jumbotron<<<<<<<< */

/* >>>>>>>>Mediaqueries>>>>>>>>> */
@media (max-width: 1080px) {
  .changetoflexwrap {
    flex-wrap: wrap !important;
  }
}
@media (max-width: 800px) {
  .titleJumbotron {
    /* font-size: 8vw; */
    font-size: 2rem;
    color: white;
  }
}
@media (max-width: 400px) {
  .titleJumbotron {
    /* font-size: 9vw; */
    font-size: 2rem!important;
    color: white;
  }
}
/* <<<<<<<<mediaqueries<<<<<<<< */

/* >>>>>>>>>>Musician>>>>>>>>>>> */
.widthmusician {
  max-width: 1050px;
}
/* <<<<<<<<Musician<<<<<<<<<<<< */

/* >>>>>>>>>Aside>>>>>>>>>>>> */
@media (min-width: 1000px) {
  .formAsideLp {
    min-width: 444px;
    max-height: 350px;
  }
}
/* <<<<<<<<<Aside<<<<<<<<<<<<< */

.widthmap {
  max-width: 100vw !important;
}

.rowCards {

  overflow-x: scroll;
  scroll-behavior: smooth;


}

.rowCards:hover::-webkit-scrollbar{
  display: -webkit-flex;
}

.rowCards:hover::-webkit-scrollbar-thumb{
  background-color: #df3432;
  width:20rem;
}

