@import url(colors.css);

.Main-Navbar {
  background-color: var(--red600) !important;
}

.NavButtonGroup > .MuiButtonBase-root {
  color: #f9f9f9;
}
.NavButtonGroup > .MuiButtonBase-root:hover {
  color: var(--white500);
  background-color: rgba(241, 69, 6, 0.5) !important;
}

.LinkNav {
  color: #fff !important;
  text-decoration: none;
}

.MuiButtonGroup-root {
  background: linear-gradient(45deg, rgba(0 0 0 0.8));
}

.MuiMenuItem-root {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.MuiMenuItem-root:hover {
  background-color: rgba(239, 68, 0, 0.467) !important;
}

.MuiMenu-paper {
  width: 10rem;
}

#LoginBtn {
  color: #ddd;
}
#LoginBtn:hover {
  scale: 1.05;
  box-shadow: 5px 5px 10px #fff;
}
#LoginBtn::after {
  border-radius: inherit;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;

  z-index: -5;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.5) 0%,
    rgba(121, 9, 9, 0.75) 47%,
    rgba(161, 12, 6, 1) 75%
  );
}
